@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/tokens.css';

body {
  margin: 0;
  background-color: var(--color-base-navy);
  color: var(--color-text-main);
  font-family: 'Inter', sans-serif;
}
